# Project SIM213 - Geo-blocking and e-commerce in the European Union
### Supervisor: Prof. Lukasz Grzybowski
### Team: Maxime Gaby Bustros and Ruila Puskas-Juhasz

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
database_countries = pd.read_excel(io = 'countries.xls', sheet_name = 'Index')
database_countries
df = pd.DataFrame(database_countries)
df = df[:][1:2]
print(df)

   D6'!A1 D6 A quelle fréquence utilisez-vous internet à des fins privées ?   \
1  Q1'!A1  Q1 Au cours des 12 derniers mois, avez-vous ac...

  Unnamed: 2                                         Unnamed: 3  \
1        NaN   (SI 'UTILISE INTERNET A DES FINS PRIVEES', CO...

  D6 How often do you use the Internet for private purposes?  Unnamed: 5  \
1  Q1 In the past 12 months, have you purchased a...                 NaN

                                          Unnamed: 6
1   (IF 'USE THE INTERNET FOR PRIVATE REASONS', C...

In [15]:
freq = pd.read_excel('freq_utilisation_internet.xlsx')
print(freq)

                                           Unnamed: 0 UE28\nEU28    BE    BG  \
0                                               TOTAL      26590  1001  1000
1            Tous les jours ou presque tous les jours      16991   690   621
2                       Every day or almost every day       0.64  0.69  0.62
3   Au moins une fois par semaine (mais pas tous l...       3171   113    80
4            At least once a week (but not every day)       0.12  0.11  0.08
5   Au moins une fois par mois (mais pas toutes le...        766    19    26
6          At least once a month (but not every week)       0.03  0.02  0.03
7                           Moins d’une fois par mois        282     6    16
8                              Less than once a month       0.01  0.01  0.02
9                                      Presque jamais        716    23    23
10                                        Hardly ever       0.03  0.02  0.02
11                                             Jamais       4636   149   232
12                                              Never       0.17  0.15  0.23
13                                             NSP\SR         28     1     1
14                                              DK\NA         -     -     -

      CZ    DK    DE    EE    IE    EL  ...    PL    PT    RO    SI    SK  \
0   1000  1004  1000  1000  1000  1001  ...  1000  1001  1012  1011  1025
1    631   812   615   692   679   604  ...   619   551   517   646   636
2   0.63  0.81  0.61  0.69  0.68   0.6  ...  0.62  0.55  0.51  0.64  0.62
3    140    67   137    76   130    92  ...   133   107   146    92   129
4   0.14  0.07  0.14  0.07  0.13  0.09  ...  0.13  0.11  0.14  0.09  0.13
5     30    24    28    28    37    26  ...    31    33    40    13    23
6   0.03  0.02  0.03  0.03  0.04  0.03  ...  0.03  0.03  0.04  0.01  0.02
7      7    11    23     7    12     8  ...     4    11    31     5    15
8   0.01  0.01  0.02  0.01  0.01  0.01  ...  0.01  0.01  0.03  0.01  0.01
9     14    16    27    19    31    26  ...    51    28    19    20    18
10  0.01  0.02  0.03  0.02  0.03  0.03  ...  0.05  0.03  0.02  0.02  0.02
11   178    72   168   179   112   245  ...   163   269   258   234   203
12  0.18  0.07  0.17  0.18  0.11  0.24  ...  0.16  0.27  0.26  0.23   0.2
13     0     3     1     0     0     0  ...     0     1     1     0     0
14    -     -     -     -     -     -   ...    -     -     -     -     -

      FI    SE    UK    IS    NO
0   1002  1000  1007   501  1000
1    739   802   684   439   818
2   0.74   0.8  0.68  0.88  0.82
3    114    77   109    32    73
4   0.11  0.08  0.11  0.06  0.07
5     21    24    29     4    20
6   0.02  0.02  0.03  0.01  0.02
7      9     2     5     0     6
8   0.01    -     -     -   0.01
9      9    20    29     1    10
10  0.01  0.02  0.03    -   0.01
11   108    75   149    26    74
12  0.11  0.08  0.15  0.05  0.07
13     1     0     2     1     0
14    -     -     -     -     -

[15 rows x 32 columns]

In [16]:
freq.head()

,Unnamed: 0,UE28\nEU28,BE,BG,CZ,DK,DE,EE,IE,EL,...,PL,PT,RO,SI,SK,FI,SE,UK,IS,NO
0,TOTAL,26590,1001,1000,1000,1004,1000,1000,1000,1001,...,1000,1001,1012,1011,1025,1002,1000,1007,501,1000
1,Tous les jours ou presque tous les jours,16991,690,621,631,812,615,692,679,604,...,619,551,517,646,636,739,802,684,439,818
2,Every day or almost every day,0.64,0.69,0.62,0.63,0.81,0.61,0.69,0.68,0.6,...,0.62,0.55,0.51,0.64,0.62,0.74,0.8,0.68,0.88,0.82
3,Au moins une fois par semaine (mais pas tous l...,3171,113,80,140,67,137,76,130,92,...,133,107,146,92,129,114,77,109,32,73
4,At least once a week (but not every day),0.12,0.11,0.08,0.14,0.07,0.14,0.07,0.13,0.09,...,0.13,0.11,0.14,0.09,0.13,0.11,0.08,0.11,0.06,0.07

In [21]:
freq.mean(axis = 1)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
dtype: float64

In [ ]:
freq[0]
pie1 = freq['mean'].value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
pie1.plot.pie(title = 'Repartition of frequencies in the dataset', figsize=(10,10))